@import url('https://fonts.googleapis.com/css2?family=Zeyada&family=Merriweather&display=swap');

h1 {
  font-family: "Zeyada";
}

h2 {
  font-family: "Zeyada";
  margin-left: 4%;
  font-weight: 600;
  font-size: 5em;
}

p {
  font-family: "Merriweather";
  text-align: center;
  font-size: 12px;
}

.bar-item {
  font-family: "Merriweather";
}

a {
  text-align: center;
}

/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  opacity: 0.5;
}*/


.header {
  font-family: "Zeyada";
  margin-left: 4%;
  font-weight: 600;
  font-size: 7em;
  line-height: 0.8em;
  margin-top: 0.15em;
}

.section {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.regText{
  font-size: 1.25em;
}

/*--------FRONT----------*/

.homePage {
  position: relative;
  display: block;
}

.reven {
  opacity: 1;
  margin-left: 0;
  width: 96%;
  border: 1em solid white;
  border-radius: 0.5em;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.homePicFrame {
  margin-left: auto;
  text-align: right;
  max-width: 75%;
  margin-right: 6%;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  margin-top: -11em;
}

.homeTitle {
  font-size: 8em;
  font-weight: 600;
  margin-bottom: -.15em;
  line-height: 0.6em;
  
  color: white;
  
}

.homeSubText {
  font-size: 1.5em;
  color: white;
}


/*---------ABOUT---------*/

.aboutEnclosed{
  margin-top: 6em;
}

.aboutDisplay{
  display: flex;
}

.aboutBody{
  margin-left: 4%;
  font-family: Merriweather;
  text-align: left;
  margin-right: 4%;
  max-width: 65%;
}

.aboutImg{
  width: 100%;
  height: 100%;
  max-width: 20%;
  border-radius: 0.5em;
}


/*--------SESSION-------*/

.sessionHolder{
  display: flex;
}

.sessionTabs{
  margin-left: 4%;
  margin-right: 4%;
}

.sessionSelect{
  cursor: pointer;
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.sessionH3{
  flex-basis: 20%;
}

.sessionCranio{
  flex-basis: 25%;
}

.sessionAbout{
  flex-basis: 45%;
  margin-left: 6%;
  margin-right: 6%;
}

.sessionPicFrame{
  flex-basis: 30%;
  margin-left: 4%;
  display: flex;
}

.sessionTextAndPic{
  display: flex;
  justify-content: center;
}

.sessionPic{
  width: 100%;
  height: 100%;
  max-width: 30vh;
  border-radius: 0.5em;
  justify-content: right;
}

.sessionFooter{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8vh;
}


/*---------FOOTER--------*/

.footerContainer{
  background-color: white;
  margin-top: 5vh;
  padding-bottom: 1vh;
  padding-top: 2em;
}

.footerInnerContainer{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.footerCenterItems{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
}

.footerFlower{
  padding-bottom: 1em;
  width: 5em;
  opacity: .5;
  margin-right: 1em;
  margin-left: 4%;
}

.footerName{
  font-size: 4em;
  font-weight: 600;
  margin-bottom: -.15em;
  line-height: 0.8em;

}

.footerInstaIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-basis: 25%;
}

.footerContact{
  flex-basis: 30%;
  margin-top: 1.5em;
  margin-right: 4%;
}

.footerJonasIcon{
  max-height: 20px;
  margin-left: 8px;
  transform: translateY(2px);
}

@media only screen and (max-width: 1100px){

  .regText{
    font-size: 1em;
  }

  /*FRONT*/

  .homeTitle{
    font-size: 6em;
  }

  .homeSubText{
    font-size: 1.15em;
  }

  /*ABOUT*/

  .aboutEnclosed{
    margin-top: 8em;
  }

  /*SESSION*/
  .sessionSelect{
    font-size: 1.5em;
  }

  .sessionH3{
    flex-basis: 25%;
  }

}

@media only screen and (max-width: 850px){

  .header {
    font-size: 4em;
    text-align: center;
  }

  .regText{
    font-size: 1em;
  }

  /*FRONT*/

  .homeTitle{
    font-size: 5em;
  }

  .homeSubText{
    font-size: 1em;
  }

  /*ABOUT*/

  .aboutDisplay{
    display: inline-block;
  }
  
  .aboutBody{
    max-width: 100%;
  }

  .aboutImg{
    margin-left: 34%;
    max-width: 34%;
    margin-top: 1em;
  }

  /*SESSION*/

  .sessionSelect{
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .sessionH3{
    flex-basis: 30%;
  }



  /*FOOTER*/



}

@media only screen and (max-width: 650px){

  /*FRONT*/

  .homePicFrame{
    text-align: center;
    max-width: 100%;
    margin-right: 0%;
  }

  .homeTitle{
    font-size: 5em;
    text-align: center;
  }

  .homeSubText{
    font-size: 1em;
    text-align: center;
  }

  /*ABOUT*/

  .aboutImg{
    max-width: 60%;
    display: block;
    margin: auto;
  }

  /*SESSION*/

  .sessionSelect{
    font-size: 1.2em;
  }

  .sessionTextAndPic{
    display: block;
  }

  .sessionPic{
    display: block;
    margin: auto;
    margin-top: 1em;
  }

  .sessionH3{
    flex-basis: 33%;
  }

  /*FOOTER*/

  .footerInnerContainer{
    display: block;
  }

  .footerFlower{
    margin-left: 0%;
  }

  .footerInstaIcon{
    margin-top: -0.5em;
  }

  .footerContact{
    margin-top: 0.5em;
    margin-right: 0%;
  }

}

@media only screen and (max-width: 430px){

  .homeTitle{
    font-size: 4em;
  }

  .sessionSelect{
    font-size: 1.10em;
  }

  .footerName{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: -.15em;
    line-height: 0.8em;
  }

  .footerContact{
    font-size: .95em;
  }

}
